<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>le CampingMafia</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:200,400' rel='stylesheet' type='text/css' />
    <link href="style.css" rel='stylesheet' />
    <link rel="icon" href="favicon.ico" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular-sanitize.min.js"></script>
    
    <script src="app.js"></script>

</head>
<body ng-app="mafiapp">

    <div id="content">
        <h1 id="head">
            <img src="img/campingmafia.png" alt="Le CampingMafia" />
            Le Camping Mafia
        </h1>

<div class="filters">
  <select ng-model="seasonFilter">
    <option value="" selected>All seasons</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
  </select>

  <select ng-model="statusFilter">
    <option value="" selected>Any status</option>
    <option value="active">Active</option>
    <option value="exited">Exited</option>
    <option value="dead">Dead</option>
  </select>
  
  <input ng-model="searchText" placeholder="Search">
</div>

        <table class="startups" ng-controller="StartupCtrl">
        
          <tr>
              <th></th>
              <th>name</th>
              <th>website</th>
              <th class="center">status</th>
              <th class="center">season</th>
              <th class="center">pitch</th>
              <th class="center">connect</th>
          </tr>
          <tr ng-repeat="startup in startups | filter:searchText | filter:{status:statusFilter} | filter:{season:seasonFilter}">
            <td class="favicon">
              <img src="http://www.google.com/s2/favicons?domain={{startup.website}}" />
            </td>
            <td class="name">
              {{startup.name}}
            </td>
            <td class="website" >
              <a href="http://{{startup.website}}">
                {{startup.website}}
              </a>
            </td>
            <td class="status">
              <img src="img/icon-{{startup.status}}.png" alt="{{startup.status}}" title="{{startup.status}}" />
            </td>
            <td class="season">
              <span>{{startup.season}}</span>
            </td>
            <td class="pitch" ng-bind-html="startup.pitch | linky"></td>
            <td class="connect">
              <a href="{{value | mailto}}" ng-repeat="(key, value) in startup.connect">
                <img src="img/icon-{{key}}.png" />
              </a>
            </td>

          </tr>
        </table>
    </div>

    <div class="footer">
    <table>
        <tr>
            <td class="small small-left">
                Startups proudly accelerated at Le Camping, Paris.<br /><br />

                <a href="http://accelerate.numaparis.com">
                    accelerate.numaparis.com
                </a>
            </td>
            <td>
                <img src="img/logo-camping.png" alt="Le Camping" />
            </td>
            <td class="small small-right">
                &copy; Le Camping Mafia, 2014<br />
                <a href="https://github.com/lecamping/lecampingmafia/blob/gh-pages/startups.json">Edit list on GitHub</a>
            </td>
        </tr>
    </table>
    </div>
    

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47063561-1', 'lecampingmafia.com');
  ga('send', 'pageview');
</script>
</body>
</html>
