{% extends 'LCMAdminBundle::layout.html.twig' %}

{% set title = 'Startup' %}
{% set subtitle = 'creation' %}

{% block actions %}

<a href="{{ path('startup') }}">Back to the list</a>


{% endblock %}

{% block content %}


<form action="{{ path('startup_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>


{% endblock %}
